@import "tailwindcss";

@theme inline {
  --color-background: #f9fafb;
  --color-foreground: #111827;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
